﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Contact";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <link href="~/Scripts/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Password</th>
                </tr>
            </thead>
            
            <tbody id="tblData"></tbody>
        </table>
    </div>
    <form>
        <button class="btn btn-default" asp-action="Logout" asp-controller="Account" type="submit">Logout</button>
    </form>
    <form>
        <button class="btn btn-default" asp-action="Index" asp-controller="Account">Back To Index</button>
    </form>

    <script>
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: '/Account/GetData',
                dataType: 'json',
                success: function (data) {
                    var rowData = "";
                    rowData = rowData + '<tr><td>' + data.id + '</td><td>' + data.username + '</td><td>' + data.password + '</td></tr>'; 

                    $("#tblData").html(rowData);
                }
            });
        });
    </script>
</body>
</html>        