﻿

@{
    ViewData["Title"] = "Index";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <ul>
        <li><a href="http://localhost:51983/Account/Login">Login</a></li>
        <li><a href="http://localhost:51983/Account/Contact">Profile (Authorized)</a></li>
    </ul>
</body>
</html>

