﻿
@{
    ViewData["Title"] = "Login";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/Scripts/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <form method="post">
        <div>
            <label>Username:</label>
            <input type="text" name="username" value="" placeholder="Your Username" />
        </div>

        <div>
            <label>Password</label>
            <input type="password" name="password" value="" placeholder="Password" />
        </div>
        <button class="btn btn-default" type="submit">Login</button>

    </form>

    <form action="/Account/Index" method="get">
        <button class="btn btn-default" type="submit">Back To Index</button>
    </form>

</body>
</html>

